<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Learning_StoreLocator::menu_label" title="Store Locator" translate="title" module="Learning_StoreLocator" sortOrder="20" parent="Magento_Backend::stores" resource="Learning_StoreLocator::admin_location_list"/>
        <add id="Learning_StoreLocator::admin_list" title="List" translate="title" module="Learning_StoreLocator" sortOrder="25" parent="Learning_StoreLocator::menu_label" action="locations/index/" resource="Learning_StoreLocator::admin_location_list"/>
    </menu>
</config>
