<?xml version="1.0"?>
<!--
/**
 * Store Locator
 * XML shows which module should use
 *
 * @category  Learning
 * @package   Learning\StoreLocator
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2022 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="locations" frontName="locations">
            <module name="Learning_StoreLocator" before="Magento_Backend" />
        </route>
    </router>
</config>
