<?xml version="1.0"?>
<!--
/**
 * Store Locator
 * XML of admin menu settings
 *
 * @category  Internship
 * @package   Internship\StoreLocator
 * @author    Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2022 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Internship_StoreLocator::menu_label" title="Store Locator" translate="title" module="Internship_StoreLocator" sortOrder="20" parent="Magento_Backend::stores" resource="Internship_StoreLocator::admin_location_list"/>
        <add id="Internship_StoreLocator::admin_list" title="List" translate="title" module="Internship_StoreLocator" sortOrder="25" parent="Internship_StoreLocator::menu_label" action="locations/index/" resource="Internship_StoreLocator::admin_location_list"/>
    </menu>
</config>
